In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
di=pd.read_csv("./project_tycho.csv.gz")

In [5]:

di

        epi_week state        disease  number   from_date
0         190044    WA       SMALLPOX       1  1900-10-28
1         190051    WA       SMALLPOX       1  1900-12-16
2         190125    WA       SMALLPOX       1  1901-06-16
3         190203    WA       SMALLPOX       2  1902-01-12
4         190231    WA       SMALLPOX       3  1902-07-27
...          ...   ...            ...     ...         ...
947956    201431    WA     GIARDIASIS       7  2014-07-27
947957    201431    OR      GONORRHEA      26  2014-07-27
947958    201431    OR     GIARDIASIS       9  2014-07-27
947959    201431    MO  LEGIONELLOSIS       1  2014-07-27
947960    201431    IA      CHLAMYDIA      59  2014-07-27

[947961 rows x 5 columns]